<div class="row">
    <div class="col-sm-6 col-md-6">
        {{#if errors}}
        <div class="alert alert-danger">{{message}}</div>
        {{/if}}
        {{#if error}}
        <div class="alert alert-danger">{{error}}</div>
        {{/if}}
        {{#if success_msg}}
        <div class="alert alert-info">{{success_msg}}</div>
        {{/if}}
        {{#if error_msg}}
        <div class="alert alert-danger">{{success_msg}}</div>
        {{/if}}
        <div class="card">
            <div class="card-header"> New User</div>
            <div class="card-body">
                <form action="/users/login" method="post">
                    <div class="form-group">
                        <label>UserName</label>
                        <input class="form-control" name="userName" value="{{userName}}" />
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input class="form-control" type="password" name="password" value="{{password}}" />
                    </div>
                    <button class="btn btn-dark">Login</button>
                </form>
            </div>
        </div>
    </div>